"sections": [
{% for section in sections %}
    {
      "id": {{ section.id }},
      "name": {{ section.name }},
      "distance": {{ section.distance }},
      "maxSpeed": {{ section.maxSpeed }},
      "fee": {{ section.fee }},
      "startStation": {{ section.start_station_id }},
      "endStation": {{ section.end_station_id }},
      "isSchmalspur": {{ section.is_schmalspur }},
      "routes":
        {% for route in section.routes %}
             {{ route.id }}
        {% endfor %}
    }
{% endfor %}
]
