{% extends "base.html" %}{% block title %}Routes{% endblock %}

{% block content %}
<br>
<h1>Routes</h1>


{% for route in routes %}
<table class="route-table">
    <tbody>
    <tr>
        <td style="font-weight:bold">{{ route.name }}</td>
        <td> Warnings:</td>
        {% if not route.warnings_link %}
        <td>-</td>
        {% else %}
        {% for warning in route.warnings_link %}
        <td>
            {{ warning.name }}:
            <br>
            {{ warning.description }}
            <a class="delete-button" id="delete_warning" href="{{ url_for('delete_warning_route', route_name=route.name, warning=warning.name) }}"><img
                    src="static/delete.svg" height="20"/></a>
        </td>

        {% endfor %}

        {% endif %}
        {% if user.is_admin %}
        <td>
            <a class="add-button" id="new_warning" href="{{ url_for('add_warning_route', name=route.name) }}"><img
                    src="static/add.svg" height="20"/></a>
        </td>
        {% endif %}
    </tr>
    <tr>

    </tr>


    </tbody>
</table>
<table class="route-table">
    <tbody>
    {% for sections in route.sections %}
    <tr>
        <td>{{ sections }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% if user.is_admin %}
<a class="add-button" id="new_sections" href="{{ url_for('add_section', name=route.name) }}"><img src="static/add.svg"
                                                                                                 height="20"/></a>
{% if route.sections %}
<a class="add-button" id="delete_section" href="{{ url_for('delete_section', name=route.name) }}"><img src="static/delete.svg"
                                                                                            height="20"/></a>
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}