{% extends "base.html" %}{% block title %}Routes{% endblock %}

{% block content %}
    <br>
    <h1>Routes</h1>
    {% for route in routes %}
        <table class="custom-table">
            <tbody>
                <tr>
                    <td>{{ route.name }} </td>
                    {% for warning in route.warnings %}
                    <td>{{ warning.name }} </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <table class="custom-table" >
            <tbody>
            {% for sections in route.sections %}
                <tr>
                    <td>{{ sections }}</td>
                    <td><a class="nav-item nav-link" id="sections_admin" href="{{ url_for('sections') }}"><img src="static/info.svg" height="15" /></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endfor %}
{% endblock %}