{% extends "bootstrap/base.html" %}

{% block title %}
Add employee
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}

<form action="/admin/add_employees" id="ft-form" method="POST" accept-charset="UTF-8">
    <label>
      Name
      <input type="text" name="name" required>
    </label>
    <label>
      E-Mail-Address
      <input type="email" name="email" required>
    </label>
    <label>
      Password
      <input type="password" name="password">
    </label>
  <div class="btns">
    <input type="submit" value="Submit">
  </div>
</form>

{% endblock %}