{% extends "base.html" %}

<head>
    <title>Overview</title>
</head>

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
   <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for col in colnames %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
        {data: 'id', orderable: true, searchable: true},
          {data: 'name'},
          {data: 'email', orderable: false, searchable: false},
          {data: 'telnr', orderable: false, searchable: false},
          {data: 'from_time', orderable: false, searchable: true},
          {data: 'to_time', orderable: false, searchable: true},
          {data: 'room'}
        ],
      });
    });
  </script>
{% endblock %}