{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
   <table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for col in colnames %}
          <th>{{ col }}</th>
        {% endfor %}
          <th>routes</th>
          <th>plan</th>
      </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
            <td><b><a href="{{url_for('get_sections_by_routes', routes_id=record.id)}}">show sections</a></b>
	        </td>
            <td><b><a href="{{url_for('plan_single_ride', routes_id=record.id)}}">single ride</a></b>/<b><a href="{{url_for('plan_interval_ride', routes_id=record.id)}}">interval ride</a></b>
	        </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
