{% extends "bootstrap/base.html" %}

{% block title %}
Dienstplan
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/index_employee.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fahrplan System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_admin %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout_blueprint.logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <h1>Dienstplan</h1>
        <table id="data" class="table table-striped">
            <thead>
            <tr>
                <th>Route</th>
                <th>Zeit</th>
                <th>Abschnitte</th>
            </tr>
            </thead>
            <tbody>
            {% for r in rides %}
            <tr>
                <td align="left">{{ r.route_name }}</td>
                <td align="left">{{ r.time }}</td>
                <td align="left">{{ r.sections }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}