{% extends 'admin/master.html' %}
{% block head_css %}
{{ super() }}
<link href="{{ url_for('static', filename='sb-admin-2.css') }}" rel="stylesheet">
{% endblock head_css %}

{% block body %}
{{ super() }}

<table id="data" class="table table-striped">
    <thead>
      <tr>
        {% for col in colnames %}
          <th>{{ col }}</th>
        {% endfor %}
          <th>routes</th>
          <th>plan</th>
      </tr>
    </thead>
    <tbody>
    {% for record in records %}
        <tr>
            {% for col in colnames %}
            <td>{{ record[col] }}</td>
            {% endfor %}
            <td><b><a href="{{url_for('get_sections_by_routes_blueprint.get_sections_by_routes', routes_id=record.id)}}">show sections</a></b>
	        </td>
            <td><b><a href="{{url_for('plan_ride_blueprint.plan_ride', routes_id=record.id)}}">plan</a></b>
	        </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock body %}

