<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      rel="stylesheet"
    />
    <link
      crossorigin="anonymous"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="static/style.css">

    <title>{% block title %}Home{% endblock %}</title>
  </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="custom-button" type="button"><a id="logo" ref="/routes"><img src="static/oebb.png" width="150"/></a></button>

      <button
        class="navbar-toggler"
        data-target="#navbar"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar" id="navbar">
          <div class="navbar-nav">
          <a class="nav-item nav-link" id="routes" href="/routes"><img src="static/route.svg" height="25"/> Routes</a>
            <a class="nav-item nav-link" id="sections" href="/sections"><img src="static/section.svg" height="25"/> Sections</a>
            <a class="nav-item nav-link" id="stations" href="/stations"><img src="static/station.svg" height="25"/> Stations</a>
            <a class="nav-item nav-link" id="users" href="/users"><img src="static/users.svg" height="25"/> Users</a>
<!--            <a class="nav-item nav-link" id="login" href="/login"><img src="static/login.svg" height="25"/> Login</a>-->
<!--          <a class="nav-item nav-link" id="user" href="/user"><img src="static/user.svg" height="25" text-salign="end"/></a>-->
          <a class="nav-item nav-link" id="logout" href="/logout"><img src="static/logout.svg" height="25"/> Logout</a>
        </div>

</div>
</nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}

    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

  <div class="container">
    {% block content%}

    {% endblock %}
  </div>
  <script
      crossorigin="anonymous"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    ></script>

    <script
      src="{{ url_for('static', filename='index.js') }}"
      type="text/javascript"
    ></script>
</body>