{% extends "base.html" %}{% block title %}Stations{% endblock %}
{% block content%}
<br>
<h1>Stations</h1>
<table class="custom-table">
    <tbody>
        <tr>
            <td>Haag</td>
            <td align="right" >
                <button class="custom-button" type="button">  <img src="static/info.svg" style="border: none;" height="25"/></button>
                <button class="custom-button" type="button"> <img src="static/edit.svg" height="25"/></button>
                <button class="custom-button" type="button"> <img src="static/info.svg" height="25"/></button>
            </td>
        </tr>
    </tbody>
</table>
<table class="custom-table">
    <tbody>
        <tr>
            <td>Amstetten</td>
            <td align="right" >
                <button class="custom-button" type="button">  <img src="static/info.svg" style="border: none;" height="25"/></button>
                <button class="custom-button" type="button"> <img src="static/edit.svg" height="25"/></button>
                <button class="custom-button" type="button"> <img src="static/info.svg" height="25"/></button>
            </td>
        </tr>
    </tbody>
</table>
<button class="custom-button" type="button">  <img src="static/add.svg"height="25"/></button>
{% endblock %}