{% extends "base.html" %}
{% set active_page = 'home_page' %}

{% block content %}
    <div id="">
        <h2>Möchten Sie das Ticket kaufen?</h2>
        <input type="button" onclick="window.location.href='{{ url_for( 'index' ) }}';" value="Abbrechen">
        <input type="submit" name="submit_button" onclick="window.location.href='{{ url_for( 'index' ) }}';" value="Kaufen">
    {% if succ == True %}
        <h3>Das Ticket wurde erfolgreich erworben!</h3>
    {% endif %}
    </div>
{% endblock %}