{% extends "base.html" %}
{% set active_page = 'home_page' %}

{% block content %}
    <h1>Fahrplan & Tickets</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.departure.label }}<br>{{ form.departure }}</td>
                <td><i class="fas fa-exchange-alt"></i></td>
                <td>{{ form.destination.label }}<br>{{ form.destination }}</td>
            </tr>
            <tr>
                <td style="text-align:left">{{ form.date(class='datepicker') }}</td>
                <td></td>
                <td style="text-align:left">{{ form.time(class='timepicker') }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>

    {% if result %}
        <br><h3>Ticket wählen</h3><hr>
        <table class="default">
            {% for r in results %}
            <tr class="default">
                <td>{{ r.time }}</td>
                <td>{{ form.departure.data }}</td>
                <td><i class="fas fa-arrow-right"></i></td>
                <td>{{ form.destination.data }}</td>
                {% if not warnings.get(r.id) == [] %}
                    <td>Warnings:
                    {% for w in warnings.get(r.id) %}
                        <br>{{ (w) }}
                    {% endfor %}
                    </td>
                {% endif %}
                {% if pricedict.get(r.id) != 0 %}
                    <td>Price: <br><s style="color:red">{{ (r.price) }}</s> <i style="color:green">-{{ (pricedict.get(r.id)) }}%</i><br> {{ (r.price)*(100-pricedict.get(r.id))/100 }}</td>
                {% else %}
                    <td>Price: {{ (r.price) }}</td>
                {% endif %}
                <td>
                    <input type="button" onclick="window.location.href='{{ url_for( 'buyticket', rideid=r.id ) }}';" value="Kaufen">
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif  %}

{% endblock %}
