{% extends "base.html" %}
{% set active_page = 'tickets_page' %}

{% block content %}
<h1>Meine Tickets</h1>
<hr><br>
<table>
    <tr>
        <th>Zeit</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Sitzplatz</th>
        <th>Status</th>
        <th></th>
    </tr>
    {% for ticket in tickets %}
    <tr class="default">
        <td>{{ ticket.get_time() }}</td>
        <td>{{ ticket.departure }}</td>
        <td><i class="fas fa-arrow-right"></i></td>
        <td>{{ ticket.destination }}</td>
        {% if ticket.seat %}
            <td>Reserviert</td>
        {% else %}
            <td>Nicht reserviert</td>
        {% endif %}
        <td>{{ ticket.status }}</td>
        <td>
            <input type="button" onclick="window.location.href='{{ url_for( 'tickets', ticketid=ticket.id ) }}';" value="Sitzplatz reservieren">
            <input type="button" onclick="window.location.href='{{ url_for( 'cancelticket', ticketid=ticket.id ) }}';" value="Stornieren">
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}