{% extends "base.html" %}
{% set active_page = 'tickets_page' %}

{% block content %}
<h1>Meine Tickets</h1>
<table>
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket.ride_id }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.seat }}</td>
        <td><i class="fas fa-arrow-right"></i></td>
        <td>
            <input type="button" onclick="window.location.href='{{ url_for( 'tickets', ticketid=ticket.id ) }}';" value="Sitzplatz reservieren">
            <input type="button" onclick="window.location.href='{{ url_for( 'cancelticket', ticketid=ticket.id ) }}';" value="Stornieren">
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}